.msg-fields {
  display: flex;
  flex-flow: column;
  margin-top: -50px;
}
label {
  margin-top: 4px;
  padding: 2px;
}
.addBtn {
  padding: 3px;
  background-color: gray;
  margin: 10px;
  width: 50px;
}
